---
title: Ian Galope
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Project List by ian_galope</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css?v=d322292094f22e8fb39b1fc059e885cf5d04cdf3">
    <script src="/assets/js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header >
        <h1>Project List</h1>
        
          <p>Project Repo Mainsite</p>
        
        <p class="view"><a href="https://gitlab.com/ian_galope/ian_galope.gitlab.io">View the Project on Gitlab <small></small></a></p>
        <ul>
        
          <li><a href="https://gitlab.com/ian_galope/ian_galope.gitlab.io">View On <strong>Gitlab</strong></a></li>
        </ul>
      </header>
      <section>

      <h2 id="projects">Projects:</h2>

<p><a href="https://ian_galope.gitlab.io/picobound/">picobound.p8.png</a></p>

<p><a href="https://ian_galope.gitlab.io/sharkbound/">sharkbound.stencyl</a></p>

<p><a href="https://ian_galope.gitlab.io/freecodecamp_tributesite/">freecodecamp_tributesite.html</a></p>

<p><a href="https://ian_galope.gitlab.io/fastfood/">fastfood.css</a></p>

<p><a href="https://ian_galope.gitlab.io/glow-worm_markovbot.html/">glow-worm_markovbot.html</a></p>


      </section>
    </div>
    <footer>
    
      <p>Hosted on GitLab Pages &mdash; Theme by <a href="https://gitlab.com/pages/middleman">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    
  </body>
</html>
